# stack dumps due to Git Bash internal crashes
*.stackdump

# Editor files
*.pyproj
*.sln
.*.swp
.DS_Store
/.settings
/.vscode
/.project
/.pydevproject
/.idea
/.vs

# Build and run files
**/__pycache__
/*.egg-info
*.pyc
*.so
*.exe

**/generated
**/build
/dist
.mplconfig

# INSTALL.md recommends a venv that should not be committed
venv
.venv

# doc build
/docs/sphinx-docs/build

# test outputs
/test/sasdataloader/data/test_log.txt
/test/sasdataloader/data/isis_1_0_write_test.xml
/test/sasdataloader/data/isis_1_1_write_test.xml
/test/sasdataloader/data/write_test.xml
**/logs
tests.log
/.pytest_cache

# Unit test / coverage reports
htmlcov/
.coverage
.cache/

# Installer files
/installers/build
/installers/dist
*.exe
sasdata/_version.py
