name: Publish to PyPI
on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-wheel:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Build sasdata
        run: |
          python -m pip install build
          python -m build --sdist --wheel
          python -m pip install dist/sasdata*whl

      - name: Upload the wheel and source distribution artifacts
        uses: actions/upload-artifact@v5
        with:
          name: artifacts
          path: |
            dist/sasdata-*-py3-none-any.whl
            dist/sasdata-*.tar.gz

  # Upload wheel to PyPI only when a tag is pushed, and its name begins with 'v'
  upload-to-pypi:
    runs-on: ubuntu-latest
    needs: build-wheel
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      id-token: write
    steps:
      - name: Retrieve all artifacts
        uses: actions/download-artifact@v6
        with:
          name: artifacts
          path: dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
